@model IEnumerable<TheatreBooking.AppLayer.Seat>

@{
    ViewBag.Title = "Забронированные места";
}

<h2>Забронированные места <span style="float:right">@Html.ActionLink("Скачать список", "ExportBookedSeatsToExcel")</span></h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RowName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RowNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeatNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AreaDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookedBy.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookedBy.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookedBy.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookedBy.PhoneNumber)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RowName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RowNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeatNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AreaDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookedBy.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookedBy.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookedBy.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookedBy.PhoneNumber)
        </td>
    </tr>
}

</table>
